.service-card {
  height: 250px;
  padding: 40px 20px;
  margin: 0 20px;
  border-radius: 10px;
  border: 1px solid #1cfdff;
  color: #1cfdff;
  box-shadow: 10px 10px 10px #1cfdff;
  transition: all 0.3s;
}
.service-card:hover {
  background-image: linear-gradient(to top right, #71392e, #093139);
  box-shadow: 10px 10px 10px red;
  color: #fff;
  border: none;
}
